.container-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(146, 150, 150, 0.356);

    height: 100vh;
}
.container-intro img{
    width: 50px;
}